<section  class="taskContent">
    <small>Add dependency to task successfully!</small>
    <div>
        <button ng-click="createNew()" style="margin-top: 30px;">Create a new task</button>
    </div>
</section>